.blog-page {

  @include boxedWidth();
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;

  margin-top: 100px;
  margin-bottom: 100px;

  > .content {
    flex: 9;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    > .separator {
      flex: 0 auto;
      width: 100%;
      height: 1px;
      background-color: #9a724d;
      margin-bottom: 100px;
    }

    > .post {
      flex: 0 auto;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      text-decoration: none;
      color: #000000;
      margin-bottom: 100px;

      &:hover{
        > .thumbnail {
          > img {
            opacity: 1;
          }

        }
        >.title{
           color: #9a724d;
        }
      }

      > .thumbnail {
        flex: 0 auto;
        width: 100%;
        position: relative;

        > img {
          width: 100%;
          opacity: 0.95;
          transition: opacity 0.3s ease;
        }

      }

      > .title {
        flex: 0 auto;
        width: 100%;
        position: relative;
        margin-top: 55px;
        font-size: 62px;
        line-height: 72px;
        font-weight: 400;
        transition: color 0.3s ease;
      }

      > .summary {
        flex: 0 auto;
        width: 100%;
        position: relative;
        margin-top: 40px;
        color: #7d7d7d;
        font-size: 18px;
        line-height: 36px;
        font-weight: 500;
      }

    }

  }

  > .separator {
    flex: 1;
  }

  > .side-bar {
    flex: 5;
    box-sizing: border-box;
    background-color: #faf8f8;

    > .section {
      padding: 100px;
      border-bottom: 1px solid #e5d1b8;

      &:last-child {
        border-bottom: none;
      }

      > .title {
        position: relative;
        width: 100%;
        font-size: 22px;
        font-weight: 500;
        margin-bottom: 65px;
      }

      > ul {
        position: relative;
        width: 100%;

        > li {
          position: relative;
          width: 100%;
          box-sizing: border-box;
          margin-bottom: 10px;
          padding-left: 30px;

          &:before {
            content: '';
            position: absolute;
            left: 3px;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            width: 6px;
            height: 6px;
            border-radius: 3px;
            background-color: #e5d1b8;
            transition: background-color 0.3s ease;
          }

          &:hover {
            &:before {
              background-color: #9b7941;
            }
          }

          &:last-child {
            margin-bottom: 0;
          }

          > a {
            display: block;
            width: 100%;
            text-align: left;
            text-decoration: none;
            color: #333333;
            font-size: 22px;
            line-height: 30px;
            font-weight: 300;
            transition: color 0.3s ease;

            &:hover {
              color: #000000;
            }
          }
        }
      }

      > .tag-cloud {
        position: relative;
        width: 100%;
        text-align: left;

        > a {
          display: inline-block;
          margin-right: 5px;
          margin-bottom: 5px;
          padding: 10px;
          cursor: pointer;
          background: #eee5dc;
          color: #9a724d;
          text-decoration: none;
          transition: all 0.3s ease;

          &:hover {
            background: #9a724d;
            color: #FFFFFF;
          }
        }
      }
    }

  }

}
