footer{

  position: relative;
  width: 100%;
  background-color: #170c06;
  padding: 65px 30px;
  box-sizing: border-box;
  color: #c2c2c2;

  >p{
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
    >span, >a{
      font-weight: 500;
      text-decoration: none;
      color: #fefefe;
    }
    >a{
      cursor: pointer;
    }
  }

}
