.services-row{

  @include boxedWidth();
  padding-top: 50px;
  padding-bottom: 50px;
  background: #f9f8f8;

  >.title{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    &:after,&:before{
      flex:0 auto;
      content: '';
      width: 150px;
      height: 2px;
      background-color: #ecdecd;
    }

    >h2{
      position: relative;
      font-size: 27px;
      line-height: 35px;
      font-weight: 500;
      color: #3e3e3e;
      padding: 0 30px;
      &:after{
        right: 0;
      }
      &:before{
        left: 0;
      }
      &:after,&:before{
        position: absolute;
        top:50%;
        flex:0 auto;
        content: '';
        width: 6px;
        height: 6px;
        border: 2px solid #ecdecd;
        background-color: #f9f8f8;
        transform: translateY(-50%) rotate(45deg);
      }
    }

  }


  >.services{
    margin-top: 75px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    @include respond-below(sm){
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
    }

    >.service{
      flex:1;
      padding: 0 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      max-width: 360px;
      @include respond-below(sm){
        padding: 50px 0;
      }

      >.image{
        flex:0 auto;
        width: 100%;
        >img{
          width: 100%;
          border-radius: 100%;
        }
        @include respond-below(sm){
          max-width: 300px;
        }
      }

      >.title{
        flex:0 auto;
        margin-top: 20px;
        width: 100%;
        text-align: center;
        color: #3e3e3e;
        font-size: 40px;
        line-height: 46px;
        font-weight: 500;
        white-space: pre-line;
        vertical-align: bottom;
      }

      >.description{
        flex:0 auto;
        margin-top: 20px;
        width: 100%;
        text-align: center;
        color: #3e3e3e;
        font-size: 16px;
        line-height: 22px;
      }

    }

  }

}
